body {
  margin: 0;
  background-color: darkslategray;
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas: 'greenCorner redCorner'
  'yellowCorner blueCorner';
  gap: 10px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.blue {
  grid-area: blueCorner;
  background-color: cornflowerblue;
  border-bottom-right-radius: 100%;
  margin-right: 4px;
  margin-bottom: 4px;
}

.red {
  grid-area: redCorner;
  background-color: crimson;
  border-top-right-radius: 100%;
  margin-top: 4px;
  margin-right: 4px;
}

.yellow {
  grid-area: yellowCorner;
  background-color: rgb(253, 253, 83);
  border-bottom-left-radius: 100%;
  margin-bottom: 4px;
  margin-left: 4px;
}

.green {
  grid-area: greenCorner;
  background-color: rgb(65, 182, 65);
  border-top-left-radius: 100%;
  margin-top: 4px;
  margin-left: 4px;
}

.selected {
  opacity: 0.2;
}